.services {
  padding: 90px 0;
  .container {
    @include flex-spaceBetween-center;
    gap: 20px;
    @include tablet-small {
      flex-direction: column;
      align-items: flex-start;
      row-gap: 60px;
    }
  }

  &-block {
    max-width: 370px;
    &__img {
      margin-bottom: 30px;
      cursor: pointer;
      transition: var(--transition);
      &:hover {
        scale: 1.05;
      }
    }
    &__title {
      font: var(--txt-600-24-ff);
      text-transform: uppercase;
      color: var(--c-color-black);
    }
    &__desc {
      font: var(--txt-400-14-ff);
      color: var(--c-color-black);
    }
  }
}
