:root {
  --ff: "Poppins", sans-serif;
  --transition: 0.2s all ease-in-out;

  --txt-700-32-ff: normal 700 32px / 100% var(--ff);

  --txt-600-44-ff: normal 600 44px / 100% var(--ff);
  --txt-600-34-ff: normal 600 34px / 100% var(--ff);
  --txt-600-28-ff: normal 600 28px / 100% var(--ff);
  --txt-600-24-ff: normal 600 24px / 100% var(--ff);

  --txt-500-14-ff: normal 500 14px / 100% var(--ff);

  --txt-400-14-ff: normal 400 14px / 200% var(--ff);

  --c-color-white: #fff;
  --c-color-black: #000;
  --c-color-active: #606060;
  --c-color-close: #828282;
  --c-background-wrapper: #f1f1f1;
  --c-color-before: #fda300;
  --c-background-backdrop: rgba(0, 0, 0, 0.6);
}
